:root {
  --color-primary: #1d7874;
  --color-secondary: #f9d939;
  --color-other: #1d2834;
}

/* main */
#hover_me {
  --color: #f9d939;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid var(--color-primary);
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

#hover_me::before,
#hover_me::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

#hover_me::before {
  top: -1em;
  left: -1em;
}

#hover_me::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

#hover_me:hover::before,
#hover_me:hover::after {
  height: 410px;
  width: 410px;
}

#hover_me:hover {
  color: rgb(10, 25, 30);
}

#hover_me:active {
  filter: brightness(0.8);
}

/* table */
tr div {
  margin-top: 1rem;
}

tr td.table_td {
  width: 33%;
}

/* Title */
.title-skills {
  color: var(--color-primary);
}

.h1-title {
  font-family: "Roboto Slab", serif;
}

.project-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.quote-title {
  font-family: "Calligraffitti", cursive;
  font-size: 30px;
}

/* navbar */
.nav-text {
  color: var(--color-primary);
}

.btn-success {
  background-color: var(--color-primary);
}

.btn-outline-secondary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.btn-outline-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/* Botton tell me more */
.link-center {
  color: var(--color-primary);
  text-decoration: none;
}

.link-center:hover {
  color: var(--color-primary);
}

/* Background color */
.background-about {
  background-color: var(--color-primary);
  height: 400px;
  color: #fff;
}

/* Dividers */
.hr-bar-divider {
  border-color: var(--color-secondary) !important;
}

/* Projects */
.projects-btn {
  background-color: var(--color-secondary);
  border-color: #fff;
}
