:root {
  --color-primary: #4ea699;
  --color-secondary: #f9d939;
  --color-other: #1d2834;
  --font-primary: #ffffff;
  --font-secondary: #8789a3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(
    to right top,
    #01122b,
    #001634,
    #00193c,
    #021c45,
    #071e4e
  );
  color: var(--font-primary);
}

/* navbar */
#navbar > div > ul {
  display: none;
}

/* titlename */
#titlename {
  margin: 2.6rem 1.5rem;
}

#titlename h1 {
  font-weight: bold;
  font-size: 2.2rem;
  text-align: left;
}

#titlename h2,
#about h2,
#skills h2,
#skills h3 {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-primary);
}

#titlename h2 {
  text-transform: capitalize;
  margin: 15px 0;
}

#titlename p {
  margin: 10px 0;
  font-size: 1rem;
  text-align: left;
  color: var(--font-secondary);
}

#titlename div.rrss {
  text-align: left;
  margin: 16px 0;
}

#titlename div.rrss a {
  text-decoration: none;
}
#titlename div.rrss i:hover {
  color: var(--color-primary);
}

#titlename div.rrss i {
  margin: 0 0.5rem;
  color: var(--font-secondary);
}

/* about */
#about,
#skills {
  margin: 4rem 1.5rem;
}

#about p,
#skills p {
  font-size: 1rem;
  text-align: justify;
  color: var(--font-secondary);
}

/* skills */
#skills h2 {
  margin: 20px 0;
}

#skills h3 {
  color: var(--font-primary);
  text-transform: capitalize;
}

#skills p {
  font-size: 0.8rem;
  line-height: 1.6rem;
}

#skills span.tech {
  font-weight: bold;
}
#skills span.tech:hover {
  color: var(--color-primary);
}

/* mediaquery - tablet */
@media (min-width: 600px) {
  #navbar {
    padding: 1rem 0.2rem;
    background-color: transparent;
  }

  #navbar > div > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
  }

  #navbar .nav-text {
    color: var(--color-primary);
  }
}
