:root {
  --color-primary: #4ea699;
  --color-secondary: #f9d939;
  --color-other: #1d2834;
  --font-primary: #e8e9f3;
  --font-secondary: #717388;
}

body {
  background-image: linear-gradient(
    to right top,
    #01122b,
    #001634,
    #00193c,
    #021c45,
    #071e4e
  );
  color: var(--font-primary);
}

/* navbar */
#navbar > div > ul {
  display: none;
}

/* titlename */
#titlename {
  margin: 2.6rem 1.5rem;
}

#titlename h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.5rem;
  text-align: left;
}

#titlename h2 {
  margin: 6px 0;
  font-family: "Sarabun", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

#titlename p {
  font-family: "Sarabun", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: var(--font-secondary);
}

#titlename div.rrss {
  text-align: left;
}

#titlename div.rrss a {
  text-decoration: none;
}
#titlename div.rrss i:hover {
  color: var(--color-primary);
}

#titlename div.rrss i {
  margin: 0 0.5rem;
  color: var(--font-secondary);
}

/* main */

/* table */
tr div {
  margin-top: 1rem;
}

tr td.table_td {
  width: 33%;
}

/* Title */
.title-skills {
  color: var(--color-primary);
}

.h1-title {
  font-family: "Roboto Slab", serif;
}

.project-title {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.quote-title {
  font-family: "Calligraffitti", cursive;
  font-size: 30px;
}

/* Background color */
.background-about {
  background-color: var(--color-primary);
  height: 20rem;
  color: #fff;
}

/* Dividers */
.hr-bar-divider {
  border-color: var(--color-secondary) !important;
}

/* Projects */
.projects-btn {
  background-color: var(--color-secondary);
  border-color: #fff;
}

/* mediaquery para tablet */
@media (min-width: 600px) {
  #navbar {
    padding: 1rem 0.2rem;
    background-color: transparent;
  }

  #navbar > div > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
  }

  #navbar .nav-text {
    color: var(--color-primary);
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  p#banner-text {
    font-size: 0.8rem !important;
  }
  h2#banner-title {
    font-size: 1rem;
    margin: 0.3125rem 0 0 0;
  }
  div#div-banner {
    padding: 2rem !important;
  }

  table#table-skills {
    font-size: 0.5rem;
  }

  img#img-skills {
    width: 60px !important;
  }
}

@media (min-width: 600px) {
  div#projects {
    margin: 3rem;
  }
}
